/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 7, 2022, 9:59:43 PM
    Author     : USER
*/

body {
    color: black;
    background-color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
